* {
  border: 1px solid black;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.fundo-construcoes {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.primeiro-predio {
  --cor-predio1: #aa80ff;
  height: 70%;
  width: 10%;
}

.primeira-secao {
  background-color: var(--cor-predio1);
  height: 10%;
  width: 70%;
}

.segunda-secao {
  background-color: var(--cor-predio1);
  height: 10%;
  width: 80%;
}

.terceira-secao {
  background-color: var(--cor-predio1);
  height: 10%;
  width: 90%;
}

.quarta-secao {
  background-color: var(--cor-predio1);
  height: 70%;
  width: 100%;
}
