:root {
  --cor-predio1: #aa80ff;
  --cor-predio2: #66cc99;
  --cor-predio3: #cc6699;
  --cor-predio4: #538cc6;
  --cor-janela1: black;
  --cor-janela2: #8cd9b3;
  --cor-janela3: #d98cb3;
}

* {
  border: 1px solid black;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.fundo-construcoes,
.frente-construcoes {
  align-items: flex-end;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Prédios de trás: */
.primeiro-predio {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 10%;
}

.primeiro-predio-janela {
  background: linear-gradient(var(--cor-predio1), var(--cor-janela1));
  height: 10%;
}

.primeira-secao {
  width: 70%;
}

.segunda-secao {
  width: 80%;
}

.terceira-secao {
  width: 90%;
}

.quarta-secao {
  background: linear-gradient(var(--cor-predio1) 50%, var(--cor-janela1));
  height: 70%;
  width: 100%;
}

.segundo-predio {
  height: 50%;
  width: 10%;
}

.primeira-secao2 {
  border-bottom: 5vh solid var(--cor-predio2);
  border-left: 5vw solid transparent;
  border-right: 5vw solid transparent;
}

.segunda-secao2 {
  background: repeating-linear-gradient(
    var(--cor-predio2) 0%,
    var(--cor-predio2) 6%,
    var(--cor-janela2) 6%,
    var(--cor-janela2) 9%
  );
  height: 100%;
  width: 100%;
}

.terceiro-predio {
  background: repeating-linear-gradient(
    90deg,
    var(--cor-predio3),
    var(--cor-predio3),
    var(--cor-janela3) 15%
  );
  height: 55%;
  width: 10%;
}

.quarto-predio {
  background-color: var(--cor-predio4);
  height: 58%;
  width: 11%;
}

/* Prédios da frente: */
.predio-frente1 {
  background-color: var(--cor-predio4);
  height: 60%;
  width: 10%;
}

.predio-frente2 {
  background-color: var(--cor-predio3);
  height: 40%;
  width: 10%;
}

.predio-frente3 {
  background-color: var(--cor-predio1);
  height: 35%;
  width: 10%;
}

.predio-frente4 {
  background-color: var(--cor-predio1);
  height: 45%;
  left: 10%;
  position: relative;
  width: 8%;
}

.predio-frente5 {
  background-color: var(--cor-predio2);
  height: 33%;
  position: relative;
  right: 10%;
  width: 10%;
}

.predio-frente6 {
  background-color: var(--cor-predio3);
  height: 38%;
  width: 9%;
}
